@import "@/styles/mixins";

.add {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-background, 0.9);
  z-index: 2;
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  align-items: center;
  justify-items: center;

  &-background {
    width: 15vw;
    height: 100vh;
    background-color: rgba($color-black, 0.6);
  }

  &-form {
    width: 100%;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;

    &-fields {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      justify-items: start;
      padding: 2rem 6rem;
      gap: 2rem;
      align-items: center;
    }

    &-field {
      display: flex;
      flex-direction: column;
    }

    &-btn {
      @include buttonDefaults;
      grid-column: 3/-1;
      grid-row: 1 / 3;
    }
  }
}
